<ul class="list-group">
	<li class="list-group-item"><%= link_to 'スタッフ一覧' , staff_member_path %></li>
	<li class="list-group-item"><%= link_to '活動ログ' , staff_log_path %></li>
	<li class="list-group-item"><%= link_to 'プラン一覧',staff_plans_path %></li>
	<li class="list-group-item"><%= link_to 'コメント一覧',staff_comments_path %></li>
	<li class="list-group-item"><%= link_to 'ユーザ一覧',staff_users_path %></li>
</ul>
