
ページ:<%= @plans.current_page %> / <%= @plans.total_pages %>
<%= @plans.total_count %>件中<%= @plans.offset_value %>
〜<%= @plans.offset_value + @plans.length %>件を表示しています。

<% @plans.each do |plan| %>
<h1 class="page-header"><%= plan.title %></h1>

<p>
  周辺場所
</p>
<p>
  画像
  <%= image_tag plan.main_image if plan.main_image? %>
</p>

<p>
  時間
  <%= plan.start_date.strftime('%Y年%m月%d日 %H時%M分') + '~' +  plan.end_date.strftime('%Y年%m月%d日 %H時%M分')%>
</p>
<p>
  概要
  <%= plan.description %>
</p>

<p>
  距離感
  <%= plan.start_favorability_rating.to_s + '~' + plan.end_favorability_rating.to_s %>
</p>

<% end %>

<%= paginate @plans, :window => 4  %>
