<h1 class="page-header">パスワード再設定</h1>

<ul class="nav nav-tabs" style="margin-bottom: 30px;">
	<li role="presentation"><%= link_to '詳細',edit_staff_path(current_staff.id) %></li>
	<li role="presentation" class="active"><a href="#">パスワード設定</a></li>
</ul>

<%= form_for @passwordForm ,url: staff_repassword_path, html: {class: 'form-horizontal'},method: 'patch'  do |f|%>
  <div class="form-group">
    <%= f.label :password , 'パスワード' ,class: 'col-sm-2 control-label'%>
    <div class="col-sm-10">
      <%= f.password_field :password,class: 'form-control' %>
      <% if @passwordForm.errors.any? %>
        <%= @passwordForm.errors.full_messages_for(:password)[0] %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, '確認用パスワード',class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation,class: 'form-control'%>
      <% if @passwordForm.errors.any? %>
  		  <%= @passwordForm.errors.full_messages_for(:password_confirmation)[0] %>
  		<% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit '更新', class: 'btn btn-success'%>
    </div>
  </div>
<% end %>
